.tasks-dialog {
  position: absolute;
  background:antiquewhite;
  padding: 3%;
  border: solid #72707d 5px;
}

.tasks-dialog h1 {
  font-family: Emulogic;
  font-size: 12px;
  color: #72707d;
  text-align: center;
  margin-bottom: 5%;
}

.tasks-dialog label {
  font-family: Emulogic;
  font-size: 12px;
  color: #72707d;
  display: flex;
}

.tasks-dialog .tasks-dialog-answer {
  border: solid white;
  padding: 1%;
  outline: none;
  display: inline-block;
  width: auto;
  transition: 0.2s;
}

.tasks-dialog .submit-button {
  background: #72707d;
  border: none;
  outline: none;
  font-family: Emulogic;
  font-size: 12px;
  color: antiquewhite;
  width: auto;
}

.tasks-dialog .submit-button:active {
  background: antiquewhite;
  color: #72707d;
}

.task-simple-math-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.simple-math-oper {
  margin: auto 5px;
}

.tasks-dialog-answer.wrong-input {
  border: solid #ff8e8e;
}