.choose-player-name {
  position: absolute;
  background:antiquewhite;
  padding: 3%;
  border: solid #72707d 5px;
}

.choose-player-name h1 {
  font-family: Emulogic;
  font-size: 12px;
  color: #72707d;
  text-align: center;
  margin-bottom: 5%;
}

.choose-player-name label {
  font-family: Emulogic;
  font-size: 12px;
  color: #72707d;
}

.choose-player-name .player-name {
  border: none;
  padding: 1%;
  outline: none;
}

.choose-player-name .submit-button {
  padding: 1%;
  background: #72707d;
  border: none;
  outline: none;
  font-family: Emulogic;
  font-size: 12px;
  color: antiquewhite;
}

.choose-player-name .submit-button:active {
  background: antiquewhite;
  color: #72707d;
}

.choose-player-name .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
  background: #72707d;
  border: none;
  outline: none;
  font-family: Emulogic;
  font-size: 12px;
  color: antiquewhite;
}

.choose-player-name .close:active {
  background: antiquewhite;
  color: #72707d;
}

.only-english {
  color: #72707d;
  font-size: 9px;
}