.tasks-dialog {
  position: absolute;
  background:antiquewhite;
  padding: 3%;
  border: solid #72707d 5px;
}

.tasks-dialog h1 {
  font-family: Emulogic;
  font-size: 12px;
  color: #72707d;
  text-align: center;
  margin-bottom: 5%;
}

.tasks-dialog label {
  font-family: Emulogic;
  font-size: 12px;
  color: #72707d;
  display: flex;
}

.tasks-dialog .tasks-dialog-answer {
  border: solid white;
  padding: 1%;
  outline: none;
  display: inline-block;
  width: auto;
  transition: 0.2s;
}

.tasks-dialog .find-extra-item {
  background: #72707d;
  border: none;
  outline: none;
  font-family: Emulogic;
  font-size: 12px;
  color: antiquewhite;
  width: auto;
}

.tasks-dialog .find-extra-item:active {
  background: antiquewhite;
  color: #72707d;
}

.task-find-extra-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tasks-dialog .find-extra-block {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-around;
  list-style: none;
  color: #72707d;
  width: 100%;
  align-items: center;
}

.task-find-extra-wrapper .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.row.row2 {
  margin: 5% 0 0;
}

.tasks-dialog .find-extra-item {
  background: #72707d;
  border: solid #72707d 4px;
  color: antiquewhite;
  padding: 1%;
  min-width: 45%;
  text-align: center;
  flex: none;
}
