@font-face {
  font-family: "Emulogic";
  src: url("../fonts/emulogic.ttf");
}

@font-face {
  font-family: "Pixelettes";
  src: url("../fonts/SlimThinPixelettes.otf");
}

@import url("../screens/choose-name/choose-name.css");
@import url("../screens/home/home.css");

body {
  background-color: #72707d;
  font: 0.95em Emulogic, Pixelettes, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas  {
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}