@font-face {
  font-family: "Emulogic";
  src: url("../fonts/emulogic.ttf");
}

@font-face {
  font-family: "Pixelettes";
  src: url("../fonts/SlimThinPixelettes.otf");
}

@import url("../screens/start/pick-name-dialog.css");

body {
  background-color: #72707d;
  font: 700 Emulogic 14px;
}

canvas  {
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}